{%extends 'main.html'%}

{% block headerIncludes %}
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Індивідуалки</h1>
    <style>
        img {
            width: 50px;
        }

        td {
            border: 1px solid black;
            padding: 0 20px;
        }

        tr:first-child td {
            border: none;
        }
    </style>
    <input type="text" id="searchInput" onkeyup="searchInput()" placeholder="Search for names..">
    <div id='filter'>
        <form method="POST">
            {{ form.hidden_tag() }}
            <datalist id="childrenList">
                {% for child in childrenList %}
                    <option value="{{child[0]}}">{{child[1]}}</option>
                {% endfor %}
            </datalist>
            {{form.studentUsername.label}}{{form.studentUsername}}
            <datalist id="teachersList">
                {% for teacher in teacherList %}
                    <option value="{{teacher[0]}}">{{teacher[1]}}</option>
                {% endfor %}
            </datalist>
            {{form.teacherUsername.label}}{{form.teacherUsername}}
            {{form.timeBefore.label}}{{form.timeBefore}}
            {{form.timeAfter.label}}{{form.timeAfter}}
            {{form.submit}}
        </form>
        <a href="{{url_for('adminIndividualClasses')}}"><button>Зкинути</button></a>
    </div>
    <table search=true>
        <tr>
            <td><input type="checkbox" id="checkAll"></td>
            <td>Створено</td>
            <td>Вчитель</td>
            <td>Студент</td>
            <td>Часу витрачено</td>
            <td>Оцінка</td>
            <td>Тема</td>
            <td>Коментар</td>
            <td>Дата уроку</td>
        </tr>
        {% for individualClass in individualClasses %}
            <tr searchable=true>
                <td><input type="checkbox" classid={{individualClass.id}} class='rowSelect'></td>
                <td searchable=true>{{individualClass.creationDate.strftime('%d . %m . %Y')}}</td>
                <td searchable=true>{{individualClass.teacherName}}</td>
                <td searchable=true>{{individualClass.studentName}}</td>
                <td searchable=true>{{individualClass.timeSpent}}</td>
                <td searchable=true>{{individualClass.grade}}</td>
                <td searchable=true>{{individualClass.topic}}</td>
                <td searchable=true>{{individualClass.comment}}</td>
                <td searchable=true>{{individualClass.lessonDate.strftime('%d . %m . %Y')}}</td>
                <td><a href="{{url_for('deleteIndividualClass')}}?id={{individualClass.id}}">Видалити</a></td>
            </tr>
        {%endfor%}
    </table>
    <button onclick='deleteMany()'>Видалити вибране</button>
    <label for="preferredFilename">Имя для файла</label>
    <input type="text" name="preferredFilename" id="preferredFilename">
    <button onclick="downloadMany()">Завантажити вибране</button>
{% endblock %}