{%extends 'main.html'%}

{% block headerIncludes %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminIndividualClasses.css') }}">
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="mainItem">
        <div class="titleWrapper">
            <h1>Індивідуалки</h1>
            <div class="searchWrapper">
                <img src="{{url_for('static', filename='images/icons/searchIcon.svg')}}">
                <input type="text" id="searchInput" onkeyup="searchInput()" placeholder="Пошук">
            </div>
            <form method="POST">
                {{ form.hidden_tag() }}
                <datalist id="childrenList">
                    {% for child in childrenList %}
                        <option value="{{child[0]}}">{{child[1]}}</option>
                    {% endfor %}
                </datalist>
                {{form.studentUsername.label}}{{form.studentUsername}}
                <datalist id="teachersList">
                    {% for teacher in teacherList %}
                        <option value="{{teacher[0]}}">{{teacher[1]}}</option>
                    {% endfor %}
                </datalist>
                {{form.teacherUsername.label}}{{form.teacherUsername}}
                {{form.timeBefore.label}}{{form.timeBefore}}
                {{form.timeAfter.label}}{{form.timeAfter}}
                {{form.submit}}
            </form>
        </div>
        <div class="tableWrapper" search=true>
            <div class="firstRow Row">
                <div><input type="checkbox" id="checkAll"></div>
                <div><p>Створено</p></div>
                <div><p>Вчитель</p></div>
                <div><p>Студент</p></div>
                <div><p>Час (хв)</p></div>
                <div><p>Оцінка</p></div>
                <div><p>Тема</p></div>
                <div><p>Коментар</p></div>
                <div><p>Дата уроку</p></div>
                <div></div>
            </div>
            {% for individualClass in individualClasses %}
                <div class="Row" searchable=true>
                    <div><input type="checkbox" classid={{individualClass.id}} class='rowSelect'></div>
                    <div searchable=true>{{individualClass.creationDate.strftime('%d . %m . %Y')}}</div>
                    <div searchable=true>{{individualClass.teacherName}}</div>
                    <div searchable=true>{{individualClass.studentName}}</div>
                    <div searchable=true>{{individualClass.timeSpent}}</div>
                    <div searchable=true>{{individualClass.grade}}</div>
                    <div searchable=true>{{individualClass.topic}}</div>
                    <div searchable=true>{{individualClass.comment}}</div>
                    <div searchable=true>{{individualClass.lessonDate.strftime('%d . %m . %Y')}}</div>
                    <div class="actions"><a href="{{url_for('deleteIndividualClass')}}?id={{individualClass.id}}"><img src="{{url_for('static', filename='images/icons/deleteIcon.svg')}}"></a></div>
                </div>
            {%endfor%}
        </div>
        <div>
            <a href="{{url_for('adminIndividualClasses')}}"><button>Зкинути</button></a>
            <button onclick='deleteMany()'>Видалити вибране</button>
            <label for="preferredFilename">Ім'я для файла</label>
            <input type="text" name="preferredFilename" id="preferredFilename">
            <button id="downloadButton" onclick="downloadMany()">Завантажити вибране</button>
        </div>
{% endblock %}