{%extends 'main.html'%}
{%block headerIncludes%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/children.css') }}">
    <script src="{{url_for('static', filename='js/children.js')}}"></script>
{%endblock%}
{% block body %}
    <div class="mainItem">
        <div class="titleWrapper">
            <div class="titleFirstRow">
                <h1>Учні</h1>
            </div>
            <div class="searchWrapper">
                <img src="{{url_for('static', filename='images/icons/searchIcon.svg')}}">
                <input type="text" id="searchInput" onkeyup="searchInput()" placeholder="Пошук">
            </div>
        </div>
        <div class="tableWrapper" search=true>
            <div class="firstRow Row">
                <div><p></p></div>
                <div><p>Піб</p></div>
                <div><p>Батьки</p></div>
                <div><p></p></div>
            </div>
            {% for child in children %}
            <div class="Row" searchable=true id={{child.id}}>
                <div class='image'><img src='{{child.avatar}}'></div>
                <div searchable=true class='name text'>{{child.name}} {{child.surname}}</div>
                <datalist id="parentList">
                    {% for parent in parents %}
                        <option value="{{parent[1]}}">{{parent[0]}}</option>
                    {% endfor %}
                </datalist>
                <div searchable=true class='relatives text'>
                    {% if child.parents %}
                        {% for parent in child.parents.split(';') %}
                            <div class="parent"><p>{{convertUsername(parent, 'name')}}</p></div>
                        {%endfor%}
                    {% endif %}
                </div>
                <div><img style='cursor: pointer;' class="editIcon" onclick="bindParent(this)" src="{{url_for('static', filename='images/icons/editIcon.svg')}}"></div>
            </div>
            {%endfor%}
        </div>
    </div>
    <script>
        function relocateUser(query) {
            window.location.href = '{{url_for("bindParent")}}'+query;
        }

        function removeParent(element) {
            element.parentNode.remove()
        }
    </script>
{% endblock %}