{%extends 'main.html'%}
{%block headerIncludes%}
    <script src="{{url_for('static', filename='js/children.js')}}"></script>
{%endblock%}
{% block body %}
    <style>
        img {
            width: 50px;
        }

        td {
            border: 1px solid black;
            padding: 0 20px;
        }

        tr:first-child td {
            border: none;
        }
    </style>
    <h1>Учні</h1>
    <input type="text" id="searchInput" onkeyup="searchInput()" placeholder="Search for names..">
    <table search=true>
        <tr>
            <td></td>
            <td>Ім'я</td>
            <td>Прізвище</td>
        </tr>
        {% for child in children %}
        <tr searchable=true id={{child.id}}>
            <td class='image'><img src='{{child.avatar}}'></td>
            <td searchable=true class='name text'>{{child.name}}</td>
            <td searchable=true class='surname text'>{{child.surname}}</td>
            <datalist id="parentList">
                {% for parent in parents %}
                    <option value="{{parent[0]}}">{{parent[1]}}</option>
                {% endfor %}
            </datalist>
            <td searchable=true class='parents text'>{{child.parents}}</td>
            <td onclick="bindParent(this)">BindParent</td>
        </tr>
        {%endfor%}
    </table>
    <script>
        function relocateUser(query) {
            window.location.href = '{{url_for("bindParent")}}'+query;
        }
    </script>
{% endblock %}