{% extends 'main.html' %}

{%block headerIncludes%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{%endblock%}

{% block body %}
    <div class="mainItem">
        <div class="titleWrapper">
            <div class="titleFirstRow">
            {% if individuals[0] %}
                <h1>Ваші індивідуалки за останні 2 тижні</h1>
            {% else %}
                <h1>У вас не було індивідуалок останні 2 тижні</h1>
            {% endif %}
            </div>
        </div>
        {% if individuals[0] %}
            <div class="tableWrapper" search=true>
                <div class="firstRow Row">
                    <div></div>
                    {% if user.userType == 'child' %}
                        <div><p>Вчитель</p></div>
                    {% else %}
                        <div><p>Учень</p></div>
                    {% endif %}
                    <div><p>Тема</p></div>
                    <div><p>Оцінка</p></div>
                    <div><p>Коментар</p></div>
                    <div><p>Час</p></div>
                    <div><p>Дата уроку</p></div>
                </div>
                {% for individual in individuals %}
                <div class="Row" searchable=true>
                    <div class='image'><img src='{{user.avatar}}'></div>
                    {% if user.userType == 'child' %}
                        <div searchable=true class="name">{{individual.teacherName}}</div>
                    {% else %}
                        <div searchable=true class="name">{{individual.studentName}}</div>
                    {% endif %}
                    <div class="mobileOnly fieldDescr">Тема:</div>
                    <div searchable=true>{{individual.topic}}</div>
                    <div class="mobileOnly fieldDescr">Оцінка:</div>
                    <div searchable=true>{{individual.grade}}</div>
                    <div class="mobileOnly fieldDescr">Коментар:</div>
                    <div searchable=true>{{individual.comment}}</div>
                    <div class="mobileOnly fieldDescr">Час:</div>
                    <div searchable=true>{{individual.timeSpent}}</div>
                    <div class="mobileOnly fieldDescr">Дата уроку:</div>
                    <div searchable=true>{{individual.lessonDate.strftime('%d . %m . %Y')}}</div>
                </div>
                {%endfor%}
            </div>
        </div>
        {% endif %}
    <script>
        function relocateUser(query) {
            window.location.href = '{{url_for("updateProfile")}}'+query;
        }
    </script>
{% endblock %}