<div class="errorsBox" id="errorsBox">
    <script>
        console.log('{{ compileSCSS() }}')
    </script>

    <img src="{{url_for('static', filename='images/icons/warning.svg')}}">
    <img id="closeErrors" src="{{url_for('static', filename='images/icons/redCross.svg')}}">
    <div class="errorHolder">
        <h2>Помилки:</h2>
        <ul>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                        {% for message in messages %}
                            <li class="error">{{ message }}</li>
                        {% endfor %}
                {% endif %}
            {% endwith %}
            {% if form and form.errors %}
                {% for field, errors in form.errors.items() %}
                    <li class="error">{{ form[field].label }}: {{ ', '.join(errors) }}</li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
