<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="authorization">
        {% include 'flash.html' %}
        <h2>Ласкаво просимо!</h2>
        <form method='POST'>
            {{ signinForm.hidden_tag() }}
            <div class="inputWrapper">
                {{signinForm.username.label}}{{signinForm.username}}
            </div>
            <div class="inputWrapper">
                {{signinForm.password.label}}{{signinForm.password}}
            </div>
            {{signinForm.submit}}
        </form>  
    </div>
</body>
</html>