<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login</title>
</head>
<body>
    {% include 'flash.html' %}
    <div class="main">
        <div class="authorization">
            
            <div class="authorizationTop">
                <h2>Ласкаво просимо!</h2>
            </div>

            <div class="authorizationBottom">
                <div class="labelsInputs">
                    <form method='POST'>
                        {{ signinForm.hidden_tag() }}
                        <div class="login">{{signinForm.username.label}}{{signinForm.username}}</div>
                        <div class="password">{{signinForm.password.label}}{{signinForm.password}}</div>
                        {{signinForm.submit}}
                    </form>  
                </div> 
            </div> 
        </div>
    </div>
</body>
</html>