<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/utility.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <title>{{title}}</title>
    <link rel="shortcut icon" type="image/jpg" href="/static/images/icons/favicon.png"/>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {%block headerIncludes%}{%endblock%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div id="modalBackground" draggable="false"></div>
    {% include 'flash.html' %}
    <div class='menuBox'>
        <div class="menuTopSection">
            <div class="collapseTrigger" id='collapseTrigger'>
                <img src="{{url_for('static', filename='images/icons/hideMenu.svg')}}">
            </div>
            <div class='imageAvatar'>
                <img src="/{{ current_user.avatar }}">
                <img id='triggerProfile' src="{{ url_for('static', filename='images/icons/editPencil.svg')}}" alt="" class="edit">
            </div>
            <p>{{ current_user.name }} {{ current_user.surname }}</p>
        </div>

        <div class="menuItemsWrapper">
        {% for menuItem in menu %}
        <div>
            {% if menuItem[1] is mapping %}
            <div class="menuItem">
                <img class="menuItemIcon" src="{{url_for('static', filename='images/icons/'+menuItem[2]+'.svg')}}" alt="">
                <div style="display: flex; justify-content: space-between; width: 100%; align-items: center;">
                    <p>{{menuItem[0]}}</p>
                    <div class="dropdownArrow">
                        <img src="{{url_for('static', filename='images/icons/dropdownArrow.svg')}}" alt="">
                    </div>
                </div>
            </div>
            {% else %}
            <a href="{{url_for(menuItem[1])}}">
                <div class="menuItem">
                    <img class="menuItemIcon" src="{{url_for('static', filename='images/icons/'+menuItem[2]+'.svg')}}" alt="">
                    <p>{{menuItem[0]}}</p>
                </div>
            </a>
            {% endif %}
            {% if menuItem[1] is mapping %}
            <div class="subMenu collapsed">
                {% for name, link in menuItem[1].items() %}
                <a href="{{url_for(link)}}">
                    <div class="subMenuItem">
                        <img class="subMenuArrow" src="{{url_for('static', filename='images/icons/subMenuArrow.svg')}}" alt="">
                        <p>{{name}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        </div>


        <div class="menuBotSection">
            <p><a href="{{url_for('logout')}}">Вийти</a></p>
        </div>


    </div>
    <div id='profileBox' class="profileBox collapsedMenu">
        <img id='closeProfile' class='close' src="{{url_for('static', filename='images/icons/closeProfile.svg')}}">
        <h2>Редагувати особисті дані</h2>
        <img class='profileAvatar' src="/{{ current_user.avatar }}">
        <div class="profileData">
            <div><p>Ім'я</p><p>{{current_user.name}}</p></div>
            <div><p>Призвіще</p><p>{{current_user.surname}}</p></div>
            <div><p>Емейл</p><p>{{current_user.email}}</p></div>
            <div><p>Теелфон</p><p>{{current_user.phone}}</p></div>
            <div><p>Viber</p><p>{{current_user.viber}}</p></div>
        </div>
        <div class="saveButton">Зберегти зміни</div>
    </div>
    <div class="contentMainBody">
        <div id="tabletTrigger" draggable="true">
            <img src="{{url_for('static', filename='images/icons/plus.svg')}}">
        </div>
        {%block body%}{%endblock%}
    </div>
</body>
</html>