<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/utility.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>{{title}}</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {%block headerIncludes%}{%endblock%}
</head>
<body>
    {% include 'flash.html' %}
    <div class='menuBox'>


        <div class="menuTopSection">
            {% if current_user.is_authenticated %}
                <img style='width: 80px; border-radius: 100px;' src="/{{ current_user.avatar }}">
                <p class='prettyFont uppercase'>{{ current_user.name }} {{ current_user.surname }}</p>
            {% endif %}
        </div>

        <div class="menuItemsWrapper">
        {% for menuItem in menu %}
        <div>
            <div class="menuItem">
                <img class="menuItemIcon" src="{{url_for('static', filename='images/icons/peopleIcon.svg')}}" alt="">
                {% if menuItem[1] is mapping %}
                    <div style="display: flex; justify-content: space-between; width: 100%; align-items: center;">
                        <p>{{menuItem[0]}}</p>
                        <div class="dropdownArrow">
                            <img src="{{url_for('static', filename='images/icons/dropdownArrow.svg')}}" alt="">
                        </div>
                    </div>
                {% else %}
                    <p><a href="{{url_for(menuItem[1])}}">{{menuItem[0]}}</a></p>
                {% endif %}
            </div>
            <div class="subMenu collapsed">
            {% if menuItem[1] is mapping %}
                {% for name, link in menuItem[1].items() %}
                <div class="subMenuItem">
                    <img class="subMenuArrow" src="{{url_for('static', filename='images/icons/subMenuArrow.svg')}}" alt="">
                    <p><a href="{{url_for(link)}}">{{name}}</a></p>
                </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        {% endfor %}
        </div>


        <div class="menuBotSection">
            <p><a class='prettyFont uppercase' href="{{url_for('logout')}}">Вийти</a></p>
        </div>


    </div>
    <div>{%block body%}{%endblock%}</div>
</body>
</html>