{% extends 'main.html' %}

{%block headerIncludes%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{%endblock%}

{% block body %}
    <div class="mainItem">
        <div class="titleWrapper">
            {% if not individuals[0] %}
                <h1>У вас не було індивідуалок останні 2 тижня</h1>
            {% else %}
                <h1>Ваші індивідуалки за останні 2 тижня</h1>
            {% endif %}
        </div>
        {% if individuals[0] %}
        <div class="tableWrapper" search=true>
            <div class="firstRow Row">
                {% if user.userType == 'child' %}
                    <div><p>Вчитель</p></div>
                {% else %}
                    <div><p>Учень</p></div>
                {% endif %}
                <div><p>Тема</p></div>
                <div><p>Оцінка</p></div>
                <div><p>Коментар</p></div>
                <div><p>Час</p></div>
                <div><p>Дата уроку</p></div>
            </div>
            {% for individual in individuals %}
            <div class="Row" searchable=true>
                {% if user.userType == 'child' %}
                    <div searchable=true>{{individual.teacherName}}</div>
                {% else %}
                    <div searchable=true>{{individual.studentName}}</div>
                {% endif %}
                <div searchable=true>{{individual.topic}}</div>
                <div searchable=true>{{individual.grade}}</div>
                <div searchable=true>{{individual.comment}}</div>
                <div searchable=true>{{individual.timeSpent}}</div>
                <div searchable=true>{{individual.lessonDate.strftime('%d . %m . %Y')}}</div>
            </div>
            {%endfor%}
        </div>
        {% endif %}
    <script>
        function relocateUser(query) {
            window.location.href = '{{url_for("updateProfile")}}'+query;
        }
    </script>
{% endblock %}