{% extends 'main.html' %}
{% block body %}
    <style>
        img {
            width: 50px;
        }

        td {
            border: 1px solid black;
            padding: 0 20px;
        }

        tr:first-child td {
            border: none;
        }
    </style>
    <h1>User Profile</h1>
    <table>
        <tr>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Почта</td>
            <td>Телефон</td>
            <td>Вайбер</td>
            <td>Аватар</td>
        </tr>
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.viber}}</td>
            <td>{{user.avatar}}</td>
        </tr>
    </table>
    {% if not individuals[0] %}
        <h3>Ви неуч</h3>
    {% else %}
        <h3>Ваші Індивідуалки</h3>
        <table>
        {% if user.userType == 'child' %}
                <tr>
                    <td>Тичер</td>
                    <td>Тема</td>
                    <td>Оценка</td>
                    <td>Коментарий</td>
                    <td>Время</td>
                    <td>Дата урока</td>
                </tr>
                {% for individual in individuals %}
                    <tr>
                        <td>{{individual.teacherName}}</td>
                        <td>{{individual.topic}}</td>
                        <td>{{individual.grade}}</td>
                        <td>{{individual.comment}}</td>
                        <td>{{individual.timeSpent}}</td>
                        <td>{{individual.lessonDate.strftime('%d . %m . %Y')}}</td>
                    </tr>
                {%endfor%}
            {% else %}
                <tr>
                    <td>Студент</td>
                    <td>Тема</td>
                    <td>Оценка</td>
                    <td>Коментарий</td>
                    <td>Время</td>
                    <td>Дата урока</td>
                </tr>
                {% for individual in individuals %}
                    <tr>
                        <td>{{individual.studentName}}</td>
                        <td>{{individual.topic}}</td>
                        <td>{{individual.grade}}</td>
                        <td>{{individual.comment}}</td>
                        <td>{{individual.timeSpent}}</td>
                        <td>{{individual.lessonDate.strftime('%d . %m . %Y')}}</td>
                    </tr>
                {%endfor%}
        {% endif %}
        </table>
    {% endif %}
{% endblock %}