{%extends 'main.html'%}

{%block headerIncludes%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teachers.css') }}">
{%endblock%}

{% block body %}
<div class="mainItem">
    <div class="titleWrapper">
        <h1>Вчителі</h1>
        <div class="searchWrapper">
            <img src="{{url_for('static', filename='images/icons/searchIcon.svg')}}">
            <input type="text" id="searchInput" onkeyup="searchInput()" placeholder="Пошук">
        </div>
    </div>
    <div class="tableWrapper" search=true>
        <div class="firstRow Row">
            <div><p></p></div>
            <div><p>Піб</p></div>
        </div>
        {% for teacher in teachers %}
        <div class="Row" searchable=true id={{teacher.id}}>
            <div class='image'><img src='{{teacher.avatar}}'></div>
            <div searchable=true class='name text'>{{teacher.name}} {{teacher.surname}}</div>
        </div>
        {%endfor%}
    </div>
{% endblock %}