{%extends 'main.html'%}
{% block body %}
    <h1>Ваші індивідуалки</h1>

    <input type="text" id="searchInput" onkeyup="searchInput()" placeholder="Search for names..">
    {%if form%}
    <form method='POST'>
        <style>
            img {
                width: 50px;
            }
    
            td {
                border: 1px solid black;
                padding: 0 20px;
            }
    
            tr:first-child td {
                border: none;
            }

            table {
                margin: 40px 0;
            }
        </style>
    
        <table search=true>
            <tr>
                <td>{{form.studentUsername.label}}</td>
                <td>{{form.timeSpent.label}}</td>
                <td>{{form.lessonDate.label}}</td>
                <td>{{form.grade.label}}</td>
                <td>{{form.topic.label}}</td>
                <td>{{form.comment.label}}</td>
                <td>Дата создания</td>
            </tr>
            {% for individual in individuals %}
                <tr searchable=true>
                    <td searchable=true >{{individual.studentName}}</td>
                    <td searchable=true >{{individual.timeSpent}}</td>
                    <td searchable=true >{{individual.lessonDate.strftime('%d . %m . %Y')}}</td>
                    <td searchable=true >{{individual.grade}}</td>
                    <td searchable=true >{{individual.topic}}</td>
                    <td searchable=true >{{individual.comment}}</td>
                    <td searchable=true >{{individual.creationDate.strftime('%d . %m . %Y')}}</td>
                </tr>
            {%endfor%}
        </table>

        <table>
            <datalist id="childrenList">
                {% for child in children %}
                    <option value="{{child[0]}}">{{child[1]}}</option>
                {% endfor %}
            </datalist>
            <tr><td>{{form.studentUsername.label}}</td><td>{{form.studentUsername}}</td></tr>
            <tr><td>{{form.timeSpent.label}}</td><td>{{form.timeSpent}}</td></tr>
            <tr><td>{{form.lessonDate.label}}</td><td>{{form.lessonDate}}</td></tr>
            <tr><td>{{form.grade.label}}</td><td>{{form.grade}}</td></tr>
            <tr><td>{{form.topic.label}}</td><td>{{form.topic}}</td></tr>
            <tr><td>{{form.comment.label}}</td><td>{{form.comment}}</td></tr>
        </table>
        {{form.submit}}
    </form>
    {%endif%}
{% endblock %}