{%extends 'main.html'%}

{%block headerIncludes%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/teachersIndividualClasses.css') }}">
{%endblock%}

{% block body %}
    <div class="mainItem">
        <div class="titleWrapper">
            <h1>Ваші індивідуалки</h1>
            <div class="searchWrapper">
                <img src="{{url_for('static', filename='images/icons/searchIcon.svg')}}">
                <input type="text" id="searchInput" onkeyup="searchInput()" placeholder="Пошук">
            </div>
        </div>
        {% if individuals %}
        <div class="tableWrapper" search=true>
            <div class="firstRow Row">	
                <div><p>Учень(иця)</p></div>
                <div><p>час (хв)</p></div>
                <div><p>Оцінка</p></div>
                <div><p>Тема уроку</p></div>
                <div><p>Комментар до уроку</p></div>
                <div><p>Дата уроку</p></div>
                <div><p>Дата створення</p></div>
            </div>
            {% for individual in individuals %}
                <div class="Row" searchable=true>
                    <div searchable=true >{{individual.studentName}}</div>
                    <div searchable=true >{{individual.timeSpent}}</div>
                    <div searchable=true >{{individual.grade}}</div>
                    <div searchable=true >{{individual.topic}}</div>
                    <div searchable=true >{{individual.comment}}</div>
                    <div searchable=true >{{individual.creationDate.strftime('%d . %m . %Y')}}</div>
                    <div searchable=true >{{individual.lessonDate.strftime('%d . %m . %Y')}}</div>
                </div>
            {%endfor%}
            </div>
            {% else %}
                <div>
                    <h1>У вас немає індивідуалок!</h1>
                </div>
            {% endif %}
        </div>

        {%if form%}
        <div class="sideItemWrapper" id='sideItemModal'>
            <div class="sideItem">
                <div class="sideItemTitle">
                    <h3>Додати нового користувача</h3>
                    <img id='closeModal' src="{{url_for('static', filename='images/icons/plus.svg')}}" alt="avatar preview">
                </div>
                <div class="formWrapper">
                    <form method='POST'>
                        {{ form.hidden_tag() }}
                        <datalist id="childrenList">
                            {% for child in children %}
                                <option value="{{child[0]}}">{{child[1]}}</option>
                            {% endfor %}
                        </datalist>
                        <div>{{form.studentUsername.label}}{{form.studentUsername}}</div>
                        <div>{{form.timeSpent.label}}{{form.timeSpent}}</div>
                        <div>{{form.lessonDate.label}}{{form.lessonDate}}</div>
                        <div>{{form.grade.label}}{{form.grade}}</div>
                        <div>{{form.topic.label}}{{form.topic}}</div>
                        <div>{{form.comment.label}}{{form.comment}}</div>
                        {{form.submit}}
                    </form>
                </div>
            </div>
        </div>
    {%endif%}
{% endblock %}