{%extends 'main.html'%}
{% block body %}
    <style>
        img {
            width: 50px;
        }

        td {
            border: 1px solid black;
            padding: 0 20px;
        }

        tr:first-child td {
            border: none;
        }
    </style>
    <h1>Учителя</h1>
    <input type="text" id="searchInput" onkeyup="searchInput()" placeholder="Search for names..">
    <table search=true>
        <tr>
            <td></td>
            <td>Имя</td>
            <td>Фамилия</td>
        </tr>
        {% for teacher in teachers %}
        <tr searchable=true id={{teacher.id}}>
            <td class='image'><img src='{{teacher.avatar}}'></td>
            <td searchable=true class='name text'>{{teacher.name}}</td>
            <td searchable=true class='surname text'>{{teacher.surname}}</td>
        </tr>
        {%endfor%}
    </table>
{% endblock %}