{%extends 'main.html'%}

{%block headerIncludes%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}">
<script src="{{url_for('static', filename='js/users.js')}}"></script>
{%endblock%}

{% block menuHeader %}
<div class="searchWrapper">
    <img src="{{url_for('static', filename='images/icons/mobileSearch.svg')}}">
    <p>Пошук</p>
    <!-- <input type="text" id="searchInput" onkeyup="searchInput()" placeholder="Пошук"> -->
</div>
{% endblock %}

{% block body %}
    <div class="mainItem">
        <div class="titleWrapper">
            <div class="titleFirstRow">
                <h1>Користувачі</h1>
                <div id="modalTrigger" draggable="true">
                    <p>Додати</p>
                </div>
            </div>
            <div class="searchWrapper">
                <img src="{{url_for('static', filename='images/icons/searchIcon.svg')}}">
                <input type="text" id="searchInput" onkeyup="searchInput()" placeholder="Пошук">
            </div>
        </div>
        <div class="tableWrapper" search=true>
            <div class="firstRow Row">
                <div><p></p></div>
                <div><p>Піб</p></div>
                <div><p>Тип</p></div>
                <div><p>Пароль</p></div>
                <div><p>Телефон</p></div>
                <div><p>Емейл</p></div>
                <div><p>Вайбер</p></div>
                <div><p></p></div>
            </div>
            {% for user in users %}{% if user.userType != 'superAdmin'%}
            <div class="Row" searchable=true id={{user.id}}>
                <div class='image'><img src='{{user.avatar}}'></div>
                <div searchable=true class='name text'>{{user.name}} {{user.surname}}</div>
                <div searchable=true class='select'>{{user.userType}}</div>
                <div searchable=true class='password text'>*****</div>
                <div searchable=true class='phone text'>{{user.phone}}</div>
                <div searchable=true class='email text'>{{user.email}}</div>
                <div class='viber text link'>
                {% if not user.viber%}
                    None
                {% else %}
                    <a target="_blank" href="{{user.viber}}">Link</a>
                {% endif %}
                </div>
                <div class="actions">
                    <img class="editIcon" onclick="editUser(this)" src="{{url_for('static', filename='images/icons/editIcon.svg')}}">
                    <a class="deleteIcon" href="{{url_for('deleteUser')}}?id={{user.id}}">
                        <img src="{{url_for('static', filename='images/icons/deleteIcon.svg')}}">
                    </a>
                </div>
            </div>
            {%endif%}{%endfor%}
        </div>
    </div>
    {%if form%}
    <div class="sideItemWrapper" id='sideItemModal'>
        <div class="sideItem">
            <div class="sideItemTitle">
                <h3>Додати нового користувача</h3>
                <label for="avatar" class="addAvatar"><p>+</p></label>
                <img class="avatarPreview" src="{{url_for('static', filename='images/avatars/defaultUserImage.png')}}" alt="avatar preview">
                <img id='closeModal' src="{{url_for('static', filename='images/icons/plus.svg')}}" alt="avatar preview">
            </div>
            <div class="formWrapper">
                <form method='POST' enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    {{form.avatar}}
                    <div>{{form.username.label}}{{form.username}}</div>
                    <div>{{form.password.label}}{{form.password}}</div>
                    <div>{{form.email.label}}{{form.email}}</div>
                    <div>{{form.name.label}}{{form.name}}</div>
                    <div>{{form.surname.label}}{{form.surname}}</div>
                    <div>{{form.phone.label}}{{form.phone}}</div>
                    <div>{{form.viber.label}}{{form.viber}}</div>
                    <div>{{form.userType.label}}{{form.userType}}</div>
                    {{form.submit}}
                </form>
            </div>
        </div>
    </div>
    {%endif%}
{% endblock %}
{% block endbody %}
    <script>
        modalHandler();
        function relocateUser(query) {
            window.location.href = '{{url_for("updateUser")}}'+query;
        }
    </script>
{%endblock%}