@font-face {font-family: "Mrs White W00 Regular";
    src: url("/static/fonts/mrsWhite/4896f970151bd586455b78cc1b970bef.eot"); /* IE9*/
    src: url("/static/fonts/mrsWhite/4896f970151bd586455b78cc1b970bef.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/static/fonts/mrsWhite/4896f970151bd586455b78cc1b970bef.woff2") format("woff2"), /* chrome、firefox */
    url("/static/fonts/mrsWhite/4896f970151bd586455b78cc1b970bef.woff") format("woff"), /* chrome、firefox */
    url("/static/fonts/mrsWhite/4896f970151bd586455b78cc1b970bef.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/static/fonts/mrsWhite/4896f970151bd586455b78cc1b970bef.svg#Mrs White W00 Regular") format("svg"); /* iOS 4.1- */
}

$base-color: #CE9CD7;
$secondary-color: #E6B7EE;
$separation-color:#5C0B8D;
$outline-color: #32D7A1;

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
    display: flex;
}

.uppercase {
    text-transform: uppercase
}

.prettyFont {
    font-family: "Mrs White W00 Regular"
}

.menuBox {
    margin-right: 25px;
    box-shadow: 2px 3px 3px rgba(96, 39, 42, 0.53);
    width: 250px;
    background-color: $base-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: center;

    a {
        color: black;
        text-decoration: none;
    }

    .menuTopSection, .menuBotSection {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    
        p {
            font-size: 20px;
        }
    }

    .menuTopSection {
        border-bottom: 2px solid $separation-color;
        height: 180px;
    
        img {
            margin-bottom: 16px;
        }
    }

    .menuBotSection {
        border-top: 2px solid $separation-color;
        height: 90px;
    }

    .menuItemsWrapper {
        width: 100%;
        margin: 20px 0;
        height: calc(100vh - 310px);
    }

    .menuItem {
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: 40px;
        width: 100%;
        box-sizing: border-box;
    
        p {
            font-size: 17px;
        }
    
        .menuItemIcon {
            width: 22px;
            height: 22px;
            margin-right: 16px;
            margin-left: 30px;
        }
    
        &:hover {
            background-color: $secondary-color;
            border-left: 4px solid $outline-color;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        }
    
        .dropdownArrow {
            img {
                width: 15px;
                height: 8px;
            }
        
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
        }
    }
    
    .menuItemHovered {
        background-color: $secondary-color;
        border-left: 4px solid $outline-color;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
    
    .collapsed {
        height: 0;
        overflow: hidden;
    }
    
    .subMenu {
        .subMenuItem {
            display: flex;
            align-items: center;
            background-color: $secondary-color;
            height: 27px;
        
            p {
                font-size: 15px;
            }
        
            .subMenuArrow {
                margin-left: 36px;
                margin-right: 20px;
                width: 9px;
                height: 10px;
            }
    
            &:hover {
                background-color: $secondary-color;
                border-left: 4px solid $outline-color;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }
}

