@import "variables.scss";

.collapsedMenu {
    left: -250px;
    margin-right: -210px;
}

.menuBox {
    margin-right: 30px;
    box-shadow: 2px 3px 3px rgba(96, 39, 42, 0.53);
    min-width: 250px;
    background-color: $base-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    min-height: 750px;
    position: relative;
    transition: all 0.3s;
    align-items: center;
    left: 0;

    color: $menu-text-color;

    img {
        color: $menu-text-color;
    }

    a {
        color: $menu-text-color;
        text-decoration: none;
    }

    .menuTopSection, .menuBotSection {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        align-items: center;
        justify-content: center;
        border-image-source: linear-gradient(to left, #A12FA1, #D2830C);
        border-image-slice: 1;
        border-width: 5px;
    
        p {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
        }
    }

    .menuTopSection {
        position: relative;
        border-bottom: 5px solid;
        height: 180px;
    
        .imageAvatar {
            margin-bottom: 16px;
            position: relative;

            img {
                border-radius: 100px;
                width: 80px;
                z-index: 100;
            }

            .edit {
                width: 30px;
                height: 30px;
                position: absolute;
                bottom: 0px;
                cursor: pointer;
                right: 0px;
            }
        }

        p {
            width: 200px;
            text-align: center;
            line-height: 100%;
            color: #DFE1DE;
        }
    }

    .menuBotSection {
        height: 90px;
        border-top: 5px solid;
    }

    .menuItemsWrapper {
        width: 100%;
        margin: 20px 0;
        height: calc(100vh - 310px);
    }

    .menuItem {
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: 44px;
        cursor: pointer;
        width: 100%;
        box-sizing: border-box;
    
        p {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 20px;
        }
    
        .menuItemIcon {
            width: 18px;
            height: 18px;
            margin-right: 15px;
            margin-left: 30px;
        }
    
        &:hover {
            background-color: $separation-color;
            border-left: 4px solid;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            border-image-source: linear-gradient(to bottom, #A12FA1, #D2830C);
            border-image-slice: 1;
            border-width: 5px;
        }
    
        .dropdownArrow {
            transition: transform 0.2s;
            img {
                width: 15px;
                height: 8px;
            }
        
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
        }
    }
    
    .menuItemHovered {
        background-color: $separation-color;
        border-left: 4px solid $outline-color;
        border-image-source: linear-gradient(to bottom, #A12FA1, #D2830C);
        border-image-slice: 1;
        border-width: 5px;

        .dropdownArrow {
            transform: rotateZ(180deg);
        }
    }
    
    .collapsed {
        height: 0;
        overflow: hidden;
    }
    
    .subMenu {
        .subMenuItem {
            display: flex;
            align-items: center;
            background: rgba(65, 64, 65, 0.6);
            height: 27px;
        
            p {
                font-size: 15px;
            }
        
            .subMenuArrow {
                margin-left: 36px;
                margin-right: 20px;
                width: 9px;
                height: 10px;
            }
    
            &:hover {
                background: rgba(65, 64, 65, 0.6);
                border-left: 4px solid rgba(65, 64, 65, 0.6);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }
}

.showMenu {
    background-color: $base-color;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .menuBox {

    }
    
    .collapsedMenu {
        left: -100%;
    }
}