@import "variables.scss";

.contentMainBody {
    .mainItem {
        width: calc(100% - 485px);
        min-width: 800px;

        .tableWrapper {
            grid-template-columns: 1fr 5fr 7fr;
            
            .Row {
                display: contents;

                & > div {
                    display: flex;
                    align-items: center;
                    background-color: #FFFFFF;
                    color: $menu-text-color;
                    margin-bottom: 2px;
                    min-height: 46px;
                    color: black;
                    padding: 0 10px;
                }

                .image {
                    justify-content: center;
                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 100px;
                    }
                }

                .actions {
                    justify-content: space-around;
                    padding-right: 20px;
                }
            }

            .firstRow {
                div {
                    background-color: #FFFFFF;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    color: $menu-text-color;
                    height: 48px;
                    color: #000000;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                    position: sticky;
                    padding: 0 10px;
                    top: 0;
                }
            }
        }
    }
}